Flask_Caching>=1.7.2
dash_bootstrap_components==1.4.0
pandas>=1.4.0
Flask>=1.1.1
dash==2.8.1
prometheus_flask_exporter>=0.11.0
git+ssh://git@bitbucket.oicr.on.ca/gsi/gsi-qc-etl.git@v1.15
sd-material-ui>=3.1.2
scipy>=1.2.0
python-dotenv>=0.10.3
gevent>=1.4.0
gunicorn>=20.0.4
numpy>=1.19.0
werkzeug==2.2.3
