Flask-Caching~=2.0
dash-bootstrap-components~=1.4
pandas~=1.5
Flask~=2.0
dash~=2.8
prometheus-flask-exporter~=0.22
gsiqcetl @ git+ssh://git@bitbucket.oicr.on.ca/gsi/gsi-qc-etl.git@v1.21
sd-material-ui~=4.6
scipy~=1.10
python-dotenv~=0.19
gevent~=22.10
gunicorn~=20.1
numpy~=1.23
Werkzeug~=2.2