<!DOCTYPE html>
<html>
	<head>
		<title>Dashi</title>
	</head>
	<body>
		<h1>Dashi</h1>
		<h2>BamQC</h2>
		<h3><a href="/bamqc/gbovertime">Gigabases produced over time</a></h3>
		<h3><a href="/bamqc/shiny">Shiny</a></h3>

		<h2>bcl2fastq</h2>
		<h3><a href="/bcl2fastq/indexinfo">Known and unknown indexes per run</a></h3>

		<h2>RNASeQC</h2>
		<h3><a href="/rnaseqc/over_time">RNASeQC stats over time</a></h3>

		<h2>Run Report</h2>
		<h3><a href="/runreport/proj_hist">Project Histograms</a></h3>

		<h2>Run Scanner</h2>
		<h3><a href="/runscanner/sum_over_time">Pass filter yield over time</a></h3>

		<!--<h2>QC Reports</h2>
		<h3><a href="/pooling_qc">Pool Balancing QC</a></h3>-->
	</body>
</html>

