<!DOCTYPE html>
<html>
  <head>
    <title>Dashi</title>
  </head>
  <body>
    <h1>Dashi QC</h1>
    <h2>Single-Lane Sequencing Graphs</h2>
    <h3><a href="/single-lane-ts">Single-Lane Targeted Sequencing</a></h3>
    <h3><a href="/single-lane-wgs">Single-Lane WGS</a></h3>
    <h3><a href="/single-lane-rna">Single-Lane RNA-seq</a></h3>

    <h2>Single Run Sequencing Graphs</h2>
	<h3><a href="/bcl2fastq-index-qc">Bcl2fastq Index QC</a></h3>

    <!-- <h2>Full-Depth Sequencing Graphs</h2> -->

    <hr />
    <footer id="footer">Dashi version {{version}}</footer>
  </body>
</html>
