{% macro processing_macro(run, page) %}
    {% set processing_count = run["pages"][page]["processing"] %}
    {% if processing_count > 0 %}
        <a href="javascript:void(0);" class="toggle_processing"> {{processing_count}} </a>
    {% else %}
        {{processing_count}}
    {% endif %}
    {% set processing_libraries = run["pages"][page]["processing_libraries"] %}
    <ul style="display: none;">
        {% for proc_lib in processing_libraries %}
            {% set lookup_name, sep, lookup_value = proc_lib.partition(":") %}
            <li>{{ pending_url_pattern.format(lookup_name=lookup_name, lookup_value=lookup_value) | safe}}</li>
        {% endfor %}
    </ul>
{% endmacro %}

